<section class="blog-posts">
  <!--    <app-task-list></app-task-list>-->
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <app-volcanose></app-volcanose>
      </div>
      <div class="col">
        <h3>Twoje współrzędne</h3>
        <span>Latitude: </span>
        <span>{{latitude}}</span>
        <span> Longtitude: </span>
        <span>{{longtitude}}</span>
      </div>
      <div class="col">
        Online users: {{numberOfUsersOnline}}
      </div>
      <div>
        <a name="" id="" class="btn btn-primary" (click)="joinTo()" type="button">Dołącz</a>
      </div>
    </div>
  </div>
</section>
